<div class="container">
	<div class="row">
		<!-- Card Projects -->
		<div class="col-md-6 col-md-offset-3" ng-repeat="project in projects">
			<div class="card">
				<div class="card-image">
					<img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
					<span class="card-title">{{project.name}}</span>
				</div>
				
				<div class="card-content">
					<p>Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.Cards for display in portfolio style material design by Google.</p>
					<p><span class="inline-content"><label>Manager:</label> Add ddd</span></p>
					<p><span class="inline-content"><label>Start Date: </label>{{project.s_date}}</span><span class="inline-content"><label>End Date: </label>16 July 2016</span></p>


				</div>
				
				<div class="card-action">
					<a href="#" target="new_blank"> Tasks >> </a>
					
				</div>
			</div>
		</div>

	</div>
</div>