<div class="container">
	<div class="row" ng-init="loadProjects('manager')">
		<!-- Card Projects -->
		<div class="col-md-6 col-md-offset-3" ng-repeat="project in projects">
			<div class="card">
				<div class="card-image">
					<img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
					<span class="card-title">{{project.name}}</span>
				</div>

				<div class="card-content">
					<p>{{project.description}}</p>
					<p><span class="inline-content"><label>Manager:</label>{{user.last_name}}, {{user.first_name}}</span></p>
					<p><span class="inline-content"><label>Start Date: </label>{{epochToDate(project.start_date)}}</span><span class="inline-content"><label>End Date: </label>{{epochToDate(project.end_date)}}</span></p>
				</div>

				<div class="card-action">
					<a href="/tasks/{{project._id}}"> Tasks >> </a>
				</div>
			</div>
		</div>

	</div>
</div>