<div class="container">
    <div class="row">
        <a href="#" ng-click="open('lg')">
          <span class="glyphicon glyphicon-plus-sign size-big"></span>
      </a>
      <div>

        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </div>
</div>

<div class="row">
    <!-- Card Projects -->
    <div class="col-md-6 col-md-offset-3" ng-repeat="task in tasks">
        <div class="card" ng-class="{{ isDone ? 'disable' : 'enable' }}">
            <div class="card-image">
                <h4 class="card-title">{{task.name}}</h4>
            </div>
            <div class="card-content">
                <p>{{task.description}}</p>
                <p><span class="inline-content"><label>Manager:</label>{{task.manager.last_name}}, {{task.manager.first_name}}</span></p>
                <p><span class="inline-content"><label>Start Date: </label>{{task.start_date}}</span><span class="inline-content"><label>End Date: </label>{{task.end_date}}</span></p>
            </div>

            <div class="card-action">
               <button type="button" class="btn btn-primary" ng-click="toggleDone(task._id)">
                Close Task
            </button>
        </div>
    </div>
</div>

</div>


</div>