
/*--- Chat.css ----*/
.ChatController #page-wrapper{

}
#chat-container {
    position: relative;
    bottom: 0;
    height: 100%;
    
}
#chat-messages {
   height: calc(100% - 50px);
}
#ul-chat-messages {
    bottom: 0;
    position: relative;
}

#ul-chat-messages {
    bottom: 50px;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100% - 50px);
}

/* card */
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card.disable {
  opacity: 0.6;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.9);
    color: #000;
    text-shadow: rgba(155,155,155,0.9) 2px 2px 6px;
}
.card h4.card-title {
  padding-left: 10px;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card .inline-content {
    padding: 5px;
    padding-left: 0;
}

/* for glyphicon */
.size-big {
    font-size: 5em;
}

/*modal */

.date-picker .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.date-picker .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .full-width {
    width: 100%;
  }
.MyTaskController .addTask {
  display: none;
}
